.response-form{
    max-width: 500px;
    min-width: 300px;
    margin: 5px;
}
textarea
{
    width: 100%;
}
input{
    max-width: 500px;
    min-width: 300px;
    min-height: 2rem;
    border-radius: 1px;
    border: none;
    margin-right: 5px;
}
.text-justificado{
    text-align: center;
}
input::placeholder{
    padding-left: 12px;
}
.inline{
    display: block;
}


@media screen and (max-width:570px){
    .descricao{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .banner{
        max-width: 100%;
    }
    .servicos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }

    .rodape{
        flex-direction: column;
        justify-content: center;
    }
    .formulario{
        flex-direction: column;
    }
    .faixa{
        display: flex;
        flex-direction: column;
        
    }
   
}
@media screen and (max-width:990px){
    .descricao{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .banner{
        max-width: 100%;
    }
    .servicos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    .rodape{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formulario{
        flex-direction: column;
    }
    
    
}
@media screen and (max-width:1200px){
  .espacamento{
    margin-left: 5px;
  }
}
.justificado{
    text-align:left;
}

.zap{
    width: 50px;
    height: auto;
    position:fixed;
    float: left;
    z-index: 1;
    margin-left: 2px;
}
.botao{
    max-width: 50%;
    margin-top: 20px;
}
.botao-footer{
    width: 50px;
    height: auto;
}
.altura{
    min-height: 400px;
    height: 400px;
}


